<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="headerIcon" mode="ios" text=""></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="formContainer">
    <div class="userLoginContainer">
      <div class="userImageContainer">
        <ion-avatar>
          <img [src]="userImage" (click)="uploadImage()">
        </ion-avatar>
        <span class="spanUpload">Upload your image</span>
      </div>
      <ion-item class="ionItemInput" lines="none"
        [ngClass]="submitted && errorCtr.username.errors?.required ? 'formError' : ''">
        <ion-input placeholder="Username" formControlName="username"></ion-input>
        <ion-icon></ion-icon>
      </ion-item>
      <ion-item class="ionItemInput" lines="none"
        [ngClass]="submitted && errorCtr.password.errors?.required ? 'formError' : ''">
        <ion-input placeholder="Password" formControlName="password" [type]="passwordType"></ion-input>
        <ion-icon [name]="eyeIcon" (click)="toggleView()"></ion-icon>
      </ion-item>
      <ion-button type="submit" class="loginButton" shape="round" color="favorite" fill="solid"
        [disabled]="!loginForm.valid">Create</ion-button>
    </div>
  </form>
</ion-content>
